<nav>
    {% for item in site.data.navigation %}
      {% assign item_link = item.link | remove: '/' %}
      {% assign page_url = page.url | remove: '/' %}
      <div class="dropdown">
      <a class="dropbtn{% if page_url == item_link %} current{% endif %}" href="{{ item.link }}">{{ item.name }}
        {% if item.items %}
          <span class="caret"><img src="/assets/media/chevron-up.svg" alt=""></span>
        {% endif %}
      </a>
      {% if item.items %}
        <div class="dropdown-content">
          {% for sub_item in item.items %}
            <a href="{{ sub_item.link }}">{{ sub_item.name }}</a>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    {% endfor %}
</nav>
  