body {
    background-color: rgb(240, 191, 148);
    font-family: 'Nunito', sans-serif;
    margin: auto;
    max-width: 900px;
    min-width: 265px;
    padding: 10px;
}

h1 {
    color: black;
    font-size: 2.5em;
    text-align: left;
}

hr {
    border: 1px solid black;
    
}

.flex-title {
  display: flex;
  align-items: center;
  justify-content: center;
    margin: 0 80px;
}